<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Todo Application</title>
</head>
<body>
<h1>Todo List</h1>
<form action="/save" method="post">
    <input type="text" name="title" placeholder="Title" required>
    <input type="text" name="description" placeholder="Description" required>
    <button type="submit">Add Todo</button>
</form>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Description</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="todo : ${listTodos}">
        <td th:text="${todo.id}"></td>
        <td th:text="${todo.title}"></td>
        <td th:text="${todo.description}"></td>
        <td>
            <a th:href="@{/delete(id=${todo.id})}">Delete</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>